@model OnlineBookshop.Web.ViewModels.ViewModels.BookForCategoriesViewModel;
@using OnlineBookshop.Common;
@{
    this.ViewData["Title"] = "Catalog";
}

<div class="catalog-wrapper">
    <div>
        <div class="categories-wrapper">
            <div class="categories-left-section">
                <form class="form-search-box">
                    <div class="d-flex">
                        <input asp-for="InputModel.AuthorBookTitle" id="search" type="search" name="authorBookTitle" placeholder="Author, Book" pattern=".*\S.*">
                        <span class="caret"></span>
                        <input type="submit" value="Go" class="search-button">
                    </div>
                    <div class="form-field">
                        <fieldset class="checkbox-group">
                            <legend class="checkbox-group-legend">Choose book genres</legend>
                            @foreach (var genre in Model.Genres)
                            {
                                <div class="checkbox">
                                    <label class="checkbox-wrapper">
                                        <input name="GenreIds" value="@genre.Id" checked="@Model.InputModel.GenreIds?.Contains(genre.Id)" type="checkbox" class="checkbox-input" />
                                        <span class="checkbox-tile">
                                            <span class="checkbox-icon">
                                                <img class="categories-icons" src="@genre.Picture" alt="horror">
                                            </span>
                                            <span class="checkbox-label">@genre.Name</span>
                                        </span>
                                    </label>
                                </div>
                            }
                        </fieldset>
                    </div>
                </form>
            </div>

            <div class="categroies-right-section">
                @foreach (var book in Model.Books)
                {
                    <div class="book-info-summary">
                        <img src="@book.CoverUrl" class="book-cover" alt="cover">
                        <div class="book-short-info">
                            <div class="book-title">@book.Title</div>
                            <div class="book-author">@string.Join(", ", book.Authors.Select(a => $"{a.FirstName} {a.LastName}"))</div>
                            <div class="book-price">$@book.Price</div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>