@model OnlineBookshop.Web.ViewModels.ViewModels.BookForCategoriesViewModel;
@using OnlineBookshop.Common;
@{
    this.ViewData["Title"] = "Cart";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="catalog-wrapper">
    <div>
        <div class="categories-wrapper">
            <div class="categories-right-section">
                @foreach (var book in Model.Books)
                {
                    <div class="book-info-summary">
                        <a asp-controller="Book" asp-action="ViewBook" asp-route-bookId="@book.Id" style="height:100%;"><img src="@book.CoverUrl" class="book-cover" alt="cover"></a>
                        <div class="book-short-info">
                            <div class="book-title">@book.Title</div>
                            <div class="book-author">@string.Join(", ", book.Authors.Select(a => $"{a.FirstName} {a.LastName}"))</div>
                            <div class="book-price">$@book.Price</div>
                            <a hidden="hidden" id="remove-from-cart-@book.Id" type="button" class="remove-from-cart-link" asp-controller="Book" asp-action="RemoveBookFromCart" asp-route-bookId="@book.Id">Remove</a>
                            <button type="button" class="remove-from-cart" onclick="document.getElementById('remove-from-cart-@book.Id').click()">Remove</button>
                        </div>
                    </div>
                }
            </div>

            <div class="form-field">

                @if (Model.Books.Count() > 0)
                {
                    <h3 style="color:#FF0000" ;>Total Price: @Model.Books.Select(b => b.Price).Sum()</h3>

                    <a hidden="hidden" id="buy-books" type="button" class="buy-books-in-cart-link" asp-controller="Book" asp-action="BuyBooksInCart">Buy Books</a>
                    <button type="button" class="buy-books-in-cart" onclick="document.getElementById('buy-books').click()">Buy Books <i class="fa fa-money" aria-hidden="true"></i></button>
                }
                else
                {
                    <div class="cart-section">
                        <h3>Cart is empty</h3>
                        <img src="/images/emptycart.png" alt="No books in cart" class="empty-cart" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>