@using OnlineBookshop.Common
@model OnlineBookshop.Web.ViewModels.ViewModels.NewBookViewModel
@{
    this.ViewData["Title"] = "NewBook";
}

<form method="post" enctype="multipart/form-data">
    <div class="form-field pointer">
        <label for="cover-file" class="pointer">
            <div>Add cover</div>
            <img src="~/images/gallery.png" alt="click here to upload book cover" class="upload-cover-icon">
        </label>
        <img id="cover-img" src="@Model.InputModel.CoverName" class="cover-preview"></img>
        <input id="cover-file" type="file" name="cover" accept=".jpg,.jpeg,.png" onchange="oncoveruploaded()" hidden>
        <div id="successfully-uploaded-message"></div>
        <div id="upload-error" hidden>Wrong file type. Please select a .jpg, .jpeg or .png file.</div>
    </div>
    <div class="form-field pointer">
        <label for="book-file" class="pointer">
            <div>Add book .pdf file</div>
            <img src="~/images/pngwing.com.png" alt="click here to add book file" class="upload-book-icon">
        </label>
        <input id="book-file" type="file" name="bookfile" accept=".pdf" onchange="onbookuploaded()" hidden>
        <div id="successfully-uploaded-book-message">@Model.InputModel.BookFileName</div>
        <div id="upload-book-error" hidden>Wrong file type. Please select a .pdf file.</div>
    </div>
    <div class="form-field">
        <label for="title">Title</label>
        <input asp-for="InputModel.Title" type="text" id="title" name="title">
    </div>
    <div class="form-field">
        <label for="author">Author</label>
        <select asp-for="InputModel.AuthorId" id="author" name="authorId">
            @foreach (var author in Model.Authors)
            {
                <option value="@author.Id">@author.FirstName @author.LastName</option>
            }
        </select>
    </div>
    <div class="form-field">
        <label for="publisher">Publisher</label>
        <input asp-for="InputModel.Publisher" type="text" id="publisher" name="publisher">
    </div>
    <div class="form-field">
        <fieldset class="checkbox-group">
            <legend class="checkbox-group-legend">Choose book genres</legend>
            @foreach (var genre in Model.Genres)
            {
                <div class="checkbox">
                    <label class="checkbox-wrapper">
                        <input name="GenreIds" checked="@Model.InputModel.GenreIds.Exists(g => g == genre.Id)" value="@genre.Id" type="checkbox" class="checkbox-input" />
                        <span class="checkbox-tile">
                            <span class="checkbox-icon">
                                <img class="categories-icons" src="@genre.Picture" alt="horror">
                            </span>
                            <span class="checkbox-label">@genre.Name</span>
                        </span>
                    </label>
                </div>
            }
        </fieldset>
    </div>
    <div class="form-field">
        <label for="pages">Pages</label>
        <input asp-for="InputModel.Pages" type="number" id="pages" name="pages">
    </div>
    <div class="form-field">
        <label for="year">Year</label>
        <input asp-for="InputModel.Year" type="number" id="year" name="year">
    </div>
    <div class="form-field">
        <label for="description">Description</label>
        <textarea asp-for="InputModel.Description" name="description" name="description" rows="8"></textarea>
    </div>
    <div class="form-field">
        <label for="price">Price</label>
        <input asp-for="InputModel.Price" type="number" id="price" name="price">
    </div>
    <div class="form-field">
        <label for="language">Language</label>
        <select asp-for="InputModel.LanguageId" id="language" name="languageId">
            @foreach (var language in Model.Languages)
            {
                <option value="@language.Id">@language.Name</option>
            }
        </select>
    </div>
    <div class="form-field">
        <input type="submit" class="mb-3 hover-effect" value="Save Changes">
        <input type="submit" class="mb-3 hover-effect" value="Refresh Data"> @*TODO: make this work*@
        <input type="submit" class="mb-3 hover-effect" value="Cancel"> @*TODO: make this work*@
    </div>
</form>

<script>
    function oncoveruploaded(){
        document.getElementById('upload-error').hidden = true;

        var file = document.getElementById('cover-file').files[0];

        if(file.type != 'image/png' && file.type != 'image/jpeg'){
            document.getElementById('successfully-uploaded-message').innerHTML = "";
            document.getElementById('upload-error').hidden = false;
            return;
        }

        document.getElementById('cover-img').style.display='none';
        document.getElementById('successfully-uploaded-message').innerHTML = 'Successfully uploaded ' + file.name;
    }
</script>
<script>
    function onbookuploaded(){
        document.getElementById('upload-book-error').hidden = true;

        var file = document.getElementById('book-file').files[0];

        if(file.type != 'application/pdf'){
            document.getElementById('successfully-uploaded-book-message').innerHTML = "";
            document.getElementById('upload-book-error').hidden = false;
            return;
        }

        document.getElementById('successfully-uploaded-book-message').innerHTML = 'Successfully uploaded ' + file.name;
    }
</script>