@using OnlineBookshop.Common
@model OnlineBookshop.Web.ViewModels.ViewModels.ViewBookViewModel
@{
    this.ViewData["Title"] = "NewBook";
}

<form method="post" enctype="multipart/form-data">
    <div class="form-field">
        <label for="title">@Model.Title</label>
    </div>
    <div class="form-field">
        <img src="@Model.CoverUrl" alt="cover">
    </div>
    <div class="form-field">
        <label>Authors:</label>
        @foreach (var author in Model.Authors)
        {
            <label>@author.FirstName @author.LastName</label>
        }
    </div>
    <div class="form-field">
        <label for="publisher">Publisher: @Model.Publisher</label>
    </div>
    <div class="form-field">
        <fieldset class="checkbox-group">
            <legend class="checkbox-group-legend">Genres:</legend>
            @foreach (var genre in Model.Genres)
            {
                <label>@genre.Name</label>
            }
        </fieldset>
    </div>
    <div class="form-field">
        <label for="pages">Pages: @Model.Pages</label>
    </div>
    <div class="form-field">
        <label for="year">Year: @Model.Year</label>
    </div>
    <div class="form-field">
        <label for="description">Description: @Model.Description</label>
    </div>
    <div class="form-field">
        <label for="price">Price: @Model.Price</label>
    </div>
    <div class="form-field">
        <label for="language">Language: @Model.Language.Name</label>
    </div>
    <label>Reviews</label>
    @foreach (var rate in Model.Rate)
    {
        <label>@rate.Rating</label>
        <label>@rate.Comment</label>
        <label>----------------------------------------------------------------</label>
    }
</form>